:root {
  --primary-color: rgb(0, 217, 255);
  --secondary-color: rgb(200, 173, 173);
  --third-color: #000;
  --forth-color: rgb(3, 101, 112);
  --fifth-color: white;
  --main-font: "Monserrat", sans-serif;
  --secondary-font: "Playwrite AU SA", cursive;
  --medium-size: medium;
}

/*header section*/
header {
  background-color: var(--primary-color);
  padding: 1rem;
  color: var(--third-color);
  text-align: center;
  font-family: var(--secondary-font);
  font-weight: bolder;
}

.title-h2 {
  color: var(--forth-color);
  font-weight: bold;
}

/*navigation and hamburger menu**/
nav {
  display: flex;
  justify-content: space-between;
  background-color: var(--third-color);
}

nav a {
  text-decoration: none;
  list-style-type: none;
  text-align: center;
  background-color: var(--third-color);
  color: var(--fifth-color);
  padding: 1rem;
  flex-grow: 1;
  transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

nav a:hover {
  transform: scale(1.1); /* Increase the size in 110% */
  box-shadow: 0 0 10px;
  text-shadow: 0 0 10px;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-links {
  display: none;
  flex-direction: column;
  width: 100%;
}

.menu a {
  display: block;
  text-align: center;
  padding: 1rem;
  flex: 1 1 100%;
}

#ham_menu {
  font-size: 2rem;
  padding: 0.5rem;
  border: 0;
  background-color: var(--third-color);
  color: var(--fifth-color);
  bottom: 1.5rem;
  cursor: pointer;
}

#ham_menu::before {
  content: "☰";
}

#ham_menu.open::before {
  content: "X";
}

.menu.open .menu-links {
  display: flex;
}
.menu.open {
  display: block;
}

/*hero image*/
#hero_image {
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  animation: changeImage 30s infinite;
  transition: opacity 1s ease-in-out;
}

.fade {
  opacity: 0;
}

.hero-container {
  position: relative;
  text-align: center;
  overflow: hidden;
  width: 100%;
  height: 100vh;
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--third-color);
  background-color: rgba(255, 255, 255, 0.85); /*85% opacity*/
  border-radius: 20px;
  padding: 10px;
}

.buttons {
  display: none;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%);
}

.hero-content-btn {
  margin: 5px;
  padding: 5px;
  border: 2px solid var(--forth-color);
  border-radius: 5px;
  color: var(--forth-color);
  background-color: rgba(255, 255, 255, 0.85); /*85% opacity*/
  opacity: 1;
}

/*modal*/
dialog {
  border: 2px solid var(--forth-color);
  border-radius: 5px;
  padding: 10px;
  background-color: var(--secondary-color);
  font-family: var(--main-font);
  text-align: center;
  align-items: center;
  width: 80%;
  max-width: 400px;
  margin: auto;
}

.close {
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: red;
  color: var(--fifth-color);
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.close:hover {
  color: var(--fifth-color);
  background-color: rgb(94, 0, 0);
}

/*car-search-engine*/
.car-search-engine {
  border: 2px solid var(--forth-color);
  padding: 10px;
  margin: 20px;
  border-radius: 5px;
  background-color: rgb(212, 245, 248);
}

/*car-charts style*/
.car-chart {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
}

.car-item {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 20px;
  border-radius: 5px;
  text-align: center;
}

.car-item h3 {
  margin: 10px 0;
}

.car-item p {
  margin: 5px 0;
}

.result {
  color: green;
  font-weight: bold;
}
.car-item:hover {
  background-color: rgb(212, 245, 248);
}

/*div class car-rating*/
.car-rating {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 20px;
  border-radius: 5px;
  text-align: center;
}

.car-rating h3 {
  margin: 10px 0;
}

.car-rating p {
  margin: 5px 0;
}

.car-rating:hover {
  background-color: rgb(212, 245, 248);
}

/*div class main container*/
.main-container {
  text-align: center;
  margin: 20px;
  padding: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular";
}

.title {
  background-color: var(--secondary-color);
  font-weight: bold;
  padding: 10px;
  font-family: "Lucida Sans", "Lucida Sans Regular";
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.information {
  border: 2px solid var(--secondary-color);
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: 10px;
  margin: 0;
}

/*wireframe section*/
.wireframes {
  display: flex;
  padding: 20px;
  margin: 20px;
  gap: 50px;
  text-align: center;
  justify-content: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: palevioletred;
  font-weight: 600;
}

/*form*/
.form {
  margin: 10px;
  padding: 10px;
  background-color: var(--secondary-color);
  align-items: center;
  width: 100%;
  max-width: 500px;
}

/*footer info section*/
.footer-info {
  background-color: gray;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.footer-info li {
  list-style-type: none;
  margin: 20px;
}

.footer-info a {
  text-decoration: none;
  color: var(--fifth-color);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: large;
}

.social-media {
  padding: 50px;
}

/*footer section*/
footer {
  background-color: var(--primary-color);
  color: var(--third-color);
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
}

#lastModified {
  color: green;
  font-weight: bold;
}
