@media only screen and (min-width: 1024px) {
  .car-chart {
    grid-template-columns: repeat(3, 1fr);
  }
  .car-rating-container {
    display: flex;
    justify-content: space-between;
  }
  .car-rating {
    flex: 1;
    margin: 10px;
  }
  .car-chart-search-engine {
    display: flex;
    justify-content: space-between;
  }
  .car-chart-engine {
    flex: 1;
    margin: 10px;
  }
}

@media only screen and (max-width: 992px) {
  #hero_image {
    width: 100%;
  }
  .cards {
    max-width: 100%;
  }
  .wireframes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    margin: 20px;
    gap: 50px;
    text-align: center;
  }

  .wider-view {
    display: none;
  }
  .car-chart {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 768px) {
  #ham_menu {
    display: none;
  }
  .menu a {
    display: block;
    text-align: center;
    flex: 1;
  }

  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu-links {
    display: flex;
    flex-direction: row;
  }
}

@media only screen and (max-width: 768px) {
  #ham_menu {
    display: block;
  }
  #ham_menu::before {
    content: "☰";
  }

  #ham_menu.open::before {
    content: "X";
  }
  .car-chart {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 576px) {
  .wireframes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    margin: 20px;
    gap: 50px;
    text-align: center;
  }

  .wider-view {
    display: none;
  }
  .footer-info {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    text-align: center;
  }
  .car-chart {
    grid-template-columns: repeat(1, 1fr);
  }
}
