:root {
  --primary-color: rgb(3, 70, 109);
  --secondary-color: gray;
  --third-color: #000;
  --forth-color: rgb(112, 3, 3);
  --fifth-color: white;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

header {
  background-color: var(--primary-color);
  padding: 1rem;
}

.profile_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.photo_profile {
  box-shadow: 0 0 10px;
}

h1 {
  color: var(--fifth-color);
  text-align: center;
  margin: 10px;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: var(--third-color);
}

nav a {
  text-decoration: none;
  list-style-type: none;
  text-align: center;
  background-color: var(--third-color);
  color: var(--fifth-color);
  padding: 1rem;
  flex-grow: 1;
  transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

nav a:hover {
  transform: scale(1.1); /* Increase the size in 110% */
  box-shadow: 0 0 10px;
  text-shadow: 0 0 10px;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-links {
  display: none;
  flex-direction: column;
  width: 100%;
}

.menu a {
  display: block;
  text-align: center;
  padding: 1rem;
  flex: 1 1 100%;
}

#ham_menu {
  font-size: 2rem;
  padding: 0.5rem;
  border: 0;
  background-color: var(--third-color);
  color: var(--fifth-color);
  bottom: 1.5rem;
  cursor: pointer;
}

#ham_menu::before {
  content: "☰";
}

#ham_menu.open::before {
  content: "X";
}

.menu.open .menu-links {
  display: flex;
}

.home_page {
  border: 2px solid var(--secondary-color);
  border-radius: 10px;
  box-shadow: 0 0 5px;
  padding-bottom: 1rem;
  margin: 1rem;
}

.menu.open {
  display: blocks;
}

.header_content {
  background-color: var(--primary-color);
  color: var(--fifth-color);
  text-align: center;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 0;
}

#sections_flex {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
}

#home_page {
  flex: 1 1 100%;
  border: 2px solid var(--secondary-color);
  border-radius: 10px;
  box-shadow: 0 0 5px;
  padding-bottom: 1rem;
  margin: 1rem;
}

#section_content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  height: auto;
  margin: 1rem;
}

.div_content {
  text-align: center;
  margin-top: 1rem;
  color: var(--secondary-color);
}

#course_tasks {
  margin-left: 40px;
  padding: 1rem;
}

.filter_buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
  align-items: center;
}

.filter_btn {
  flex: 1 1 calc(33.33% - 1rem);
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  background-color: var(--third-color);
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.filter_btn:hover {
  background-color: var(--secondary-color);
}

.course_cards {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  margin: 20px;
}

.course_card {
  flex: 1 1 calc(33.33% - 1rem);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #620202;
  border: 2px solid #390202;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
  color: var(--fifth-color);
  padding: 0.5rem 1rem;
}

.course_card_pend {
  flex: 1 1 calc(33.33% - 1rem);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eee;
  border: 2px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
  padding: 0.5rem 1rem;
}

.course_card:hover {
  transform: scale(1.05);
  background-color: #750303;
}

footer {
  background-color: var(--primary-color);
  color: var(--fifth-color);
  padding: 20px;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
}

#lastModified {
  color: #ffff00;
}
