:root {
  --primary-color: rgb(4, 101, 156);
  --secondary-color: rgb(252, 250, 250);
  --third-color: #000;
  --forth-color: rgb(112, 3, 3);
  --fifth-color: white;
  --main-font: "Monserrat", sans-serif;
  --secondary-font: "Playwrite AU SA", cursive;
}

/**********************************************************************************/
/**********************************************************************************/

header {
  background-color: var(--primary-color);
  padding: 1rem;
  color: var(--fifth-color);
  text-align: center;
  font-family: var(--secondary-font);
}

/**********************************************************************************/
/**********************************************************************************/

nav {
  display: flex;
  justify-content: space-between;
  background-color: var(--third-color);
}

nav a {
  text-decoration: none;
  list-style-type: none;
  text-align: center;
  background-color: var(--third-color);
  color: var(--fifth-color);
  padding: 1rem;
  flex-grow: 1;
  transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

nav a:hover {
  transform: scale(1.1); /* Increase the size in 110% */
  box-shadow: 0 0 10px;
  text-shadow: 0 0 10px;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-links {
  display: none;
  flex-direction: column;
  width: 100%;
}

.menu a {
  display: block;
  text-align: center;
  padding: 1rem;
  flex: 1 1 100%;
}

#ham_menu {
  font-size: 2rem;
  padding: 0.5rem;
  border: 0;
  background-color: var(--third-color);
  color: var(--fifth-color);
  bottom: 1.5rem;
  cursor: pointer;
}

#ham_menu::before {
  content: "☰";
}

#ham_menu.open::before {
  content: "X";
}

.menu.open .menu-links {
  display: flex;
}
.menu.open {
  display: block;
}

/**********************************************************************************/
/**********************************************************************************/
.main-container {
  display: flex;
  justify-content: space-between;
}

.form_container {
  text-align: left;
}

.membership_container {
  text-align: center;
}

.form_container input,
.form_container select,
.form_container textarea {
  margin-bottom: 25px;
}

.form_container,
.membership_container {
  width: 50%;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 25px;
  background-color: #448bc5;
  border: 1px solid var(--third-color);
  border-radius: 10px;
  font-family: var(--main-font);
  flex-wrap: wrap;
}

.membership-card {
  border: 1px solid var(--third-color);
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  animation: colorChange 5s 1;
  transition: all 1s ease-in-out;
  background-color: rgb(101, 182, 214);
}

.div-title {
  font-family: var(--secondary-font);
  color: var(--fifth-color);
}

dialog {
  border: 1 px solid var(--third-color);
  padding: 20px;
  background-color: #a8d8ff;
  font-family: var(--main-font);
  border: 1px solid var(--third-color);
  border-radius: 5px;
  text-align: left;
}

.close {
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: red;
  color: var(--fifth-color);
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.close:hover {
  background-color: var(--forth-color);
}

/*animation*/
@keyframes colorChange {
  0% {
    background-color: a8d8ff;
    opacity: 1;
    margin: 10px;
  }
  50% {
    background-color: #ffb3ba;
    opacity: 0.7;
    margin: 20px;
  }
  100% {
    background-color: #bae1ff;
    opacity: 1;
    margin: 10px;
  }
}
/**********************************************************************************/
/**********************************************************************************/
footer {
  background-color: var(--primary-color);
  color: var(--fifth-color);
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
}

#footer {
  margin-top: 20px;
}

#lastModified {
  color: #ffff00;
}
