@media only screen and (max-width: 1200px) {
}

@media only screen and (max-width: 992px) {
  #hero_image {
    width: 100%;
  }
  .cards {
    max-width: 100%;
  }
  .wireframes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    margin: 20px;
    gap: 50px;
    text-align: center;
  }

  .wider-view {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  #ham_menu {
    display: none;
  }
  .menu a {
    display: block;
    text-align: center;
    flex: 1;
  }

  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu-links {
    display: flex;
    flex-direction: row;
  }
}

@media only screen and (max-width: 768px) {
  #ham_menu {
    display: block;
  }
  #ham_menu::before {
    content: "☰";
  }

  #ham_menu.open::before {
    content: "X";
  }
}
@media only screen and (max-width: 576px) {
  .wireframes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    margin: 20px;
    gap: 50px;
    text-align: center;
  }

  .wider-view {
    display: none;
  }
}
